@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite-svelte/dist";
@source "../../node_modules/flowbite-svelte-icons/dist";

@layer base {
    html,
    :host {
        -webkit-text-size-adjust: 100%;
    }

    select:not([size]) {
        print-color-adjust: exact;
    }

}