---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Nav from '../components/svelte/Nav.svelte';
import ScheduleBtn from '../components/svelte/ScheduleBtn.svelte';
import Image from 'astro/components/Image.astro';
import Matthew from '../assets/matthew-w.webp';
import WhatIBring from '../components/svelte/WhatIBring.svelte';
import Projects from '../components/svelte/Projects.svelte';
import AboutMe from '../components/svelte/AboutMe.svelte';
---

<Layout>
  <script>
      document.addEventListener("DOMContentLoaded", () => {
          document.getElementById("hero-content")?.classList.add("loaded");
          
      });
  </script>
  <div id="#top" class="hero warm-gradient">
    <Nav client:load />
    <div id="hero-content" class="fade-in">
      <Image loading={'eager'} class={ "author" } src={ Matthew } alt={ "Matthew" } />
      <div class="hero-text hero-info">
        <span class="big-text"> Hi, I'm Matthew! I help others build full stack applications and AI-powered products. </span>
        <span class="small-text"> 
          I have 'x' years of experience creating websites, mobile apps, and AI tools for startups and individuals alike. 
          Got an idea you want brought into reality? Hit the button below and let's chat!
        </span>
        <ScheduleBtn client:load isHomePage={ true } isMobile={ false }/>
      </div>
    </div>
  </div>
  <WhatIBring client:visible/>
  <Projects client:visible />
  <AboutMe client:visible />

  <style>
    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;
    }
    .hero :first-child {
      margin-inline-end: 25px;
    }

    .author {
      width: auto;
      height: 50%;
      border-radius: 50px;
      margin-inline: 5px;
    }

    #hero-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-block-start: 10px;
    }
    .hero-text {
      width: 50%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: sans-serif;
    }

    .hero-info :nth-child(n) {
      margin-block-end: 25px;
    }

    .big-text {
      font-weight: bold;
      font-size: 2rem;
    }
    .small-text {
      font-size: 1rem;
    }

  </style>
</Layout>