---
const warmBg = '#ffa5a5';
const darkBg = '#0c3236';
const blueContainerBg = '#02616c';
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} >
    <title> Matthew Zhang </title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global define:vars={{warmBg, darkBg, blueContainerBg}}>
    body {
      width: 100vw;
      height: 100vh;
      padding-block: 10px;

    }
    .fade-in {
        opacity: 0;
        transition: opacity 0.8s ease-in-out;
    }

    .fade-in.loaded {
        opacity: 1;
    }

    .warm-gradient {
      background: linear-gradient(to bottom, var(--warmBg), #ffb9b9, #ffdada);
    }

    .dark-gradient {
      background: linear-gradient(to bottom, var(--darkBg));
    }
</style>